<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telegram Index</title>
    <link href="https://img.icons8.com/fluent/84/000000/telegram-app.png" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .badge {
            font-weight: normal;
            font-size: 8px;
            padding: 3px 5px;
        }
        .badge-left {
            border-radius: 3px 0 0 3px;
        }
        .badge-right {
            border-radius: 0 3px 3px 0;
            background-color: #ededed;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://telegram.org">
                <img width="38" src="https://img.icons8.com/fluent/144/000000/telegram-app.png" />
                Telegram Index
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://viperadnan-git.github.io">Contact</a>
                    </li>
                    {% if auth %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/api/logout">Log Out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-2">
        {% if announcement %}
        <div id="announcement" class="toast hide w-100" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <img src="https://img.icons8.com/cotton/84/000000/commercial--v1.png" width="24" class="rounded me-2">
                <strong class="me-auto">Announcement</strong>
            </div>
            <div class="toast-body">
                {{announcement|safe}}
            </div>
        </div>
        {% endif %}
        <div class="card my-2 shadow">
            <div class="card-body">
                <h5 class="card-title">
                    <img width="21" class="mb-1" src="https://img.icons8.com/color/144/000000/overview-pages-4.png" />
                    Web List
                </h5>
            </div>
            {% if chats %}
            <ol class="list-group list-group-flush">
                {% for chat in chats %}
                <a href="/{{chat.alias_id}}" class="list-group-item list-group-item-action">{{chat.title}}</a>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
    <footer class="d-flex fixed-bottom justify-content-center mb-3">
        <a href="https://viperadnan-git.github.io"><span class="badge bg-dark badge-left">viperadnan</span><span class="badge text-dark badge-right">&lt;&sol;&gt;</span></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% if announcement %}
    <script>
        var announcementToast = new bootstrap.Toast(document.getElementById('announcement'));
        announcementToast.show();
    </script>
    {% endif %}
</body>
</html>